<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zrock.application.engine" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application
		android:allowBackup="true"
		android:name="zrock.application.engine.ApplicationMain"
		android:backupAgent="zrock.application.engine.app.device.backup.SimpleBackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:theme="@style/AboutLibrariesTheme"
		android:supportsRtl="true"
        android:resizeableActivity = "true">

        <!-- the app needs to be registered to android backup service to make use of a backup agent.
		an app can be registered here: https://developer.android.com/google/backup/signup.html?csw=1 -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIfV-tWF3gTmj-JFTszYmDQDKDmY2WtXUmh24ALQ" />
		
        <activity
            android:name="zrock.application.engine.EngineActivity"
            android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		<!-- ZROCK APPLICATION ENGINE APP -->
		<activity
            android:name="zrock.application.engine.app.BackupActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.InstallActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.UninstallActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.UpdaterActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.MonitorActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.PluginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.EditorActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.LibrariesActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.PackageActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.DeviceInfoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.ZRockPackageActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<activity
            android:name="zrock.application.engine.app.TweaksActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.CUSTUM_INTENT"/>
            </intent-filter>
        </activity>
		<!-- ZROCK APPLICATION ENGINE APP LIBRARIES -->
        <activity
            android:name="zrock.application.engine.app.libraries.ExtendActivity"
            android:label="@string/app_name">
        </activity>
	    <activity
            android:name="zrock.application.engine.app.libraries.CustomSortActivity"
            android:label="@string/app_name">
        </activity>
		<activity android:name="zrock.application.engine.app.libraries.LibsActivity"/>
		<!-- ZROCK APPLICATION ENGINE APP SETTING -->
		<activity
            android:name="zrock.application.engine.app.setting.SettingsActivity"
            android:label="@string/app_name"/>
		<!-- ZROCK APPLICATION ENGINE APP CHROME -->
		<activity 
			android:name="zrock.application.engine.app.chrome.DownloadActivity"
            android:screenOrientation="portrait"/>

		<activity 
			android:name="zrock.application.engine.app.chrome.WebviewActivity"
            android:screenOrientation="portrait"/>
		<receiver android:name="zrock.application.engine.app.chrome.ShareBroadcastReceiver" />
		<!-- ZROCK APPLICATION ENGINE APP CHROME -->
		<activity 
			android:name="zrock.application.engine.app.chrome.DownloadActivity"
            android:screenOrientation="portrait"/>
		<activity 
			android:name="zrock.application.engine.app.chrome.WebviewActivity"
            android:screenOrientation="portrait"/>
		<receiver android:name="zrock.application.engine.app.chrome.ShareBroadcastReceiver" />
		<!-- ZROCK APPLICATION ENGINE APP CONTENT -->
		<activity 
			android:name="zrock.application.engine.app.content.ContentActivity"
            android:screenOrientation="portrait"
			android:label="@string/app_name"/>

		<activity 
			android:name="zrock.application.engine.app.content.ShareReceiverActivity"
			android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="x-test/madeup" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="zrock.application.engine.app.content.SampleContentProvider"
            android:authorities="zrock.application.engine.app.content"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="zrock.application.engine.app.content.ALLOW_INTERNAL_ACCESS"
                android:value="true" />

        </provider>

        <provider
            android:name="zrock.application.engine.app.content.SampleInternalContentProvider"
            android:authorities="zrock.application.engine.app.content.internal"
            android:exported="false" />
		
    </application>

</manifest>
